<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="assalaam.test.id.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Class1" />
        <activity android:name=".LinearLayoutSederhana" />
        <activity android:name=".RelativeLayoutSederhana" />
        <activity android:name=".LayoutTabel" />
        <activity android:name=".TampilanGambar" />
        <activity android:name=".AutoCompleteSederhana" />
        <activity android:name=".Picker" />
        <activity android:name=".seleksi" />
        <activity android:name=".KotakDialog" />
        <activity android:name=".checkBox" />
        <activity android:name=".RadioButton" />
        <activity android:name=".playingAudio" />
        <activity android:name=".CallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />
            </intent-filter>
        </activity>
        <activity android:name=".CallActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN3" />
            </intent-filter>
        </activity>
        <activity android:name=".KalkulatorBeratBadan" />
        <activity android:name=".webv" />
        <activity android:name=".cameraa"></activity>
    </application>

</manifest>